<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dist/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/dist/css/pnotify.custom.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries megaads -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">

        .tableFixHead {
            overflow-y: auto; height:100vh;
        }
        table { border-collapse: collapse; width: 100%; }
        th, td { padding: 8px 16px; }
    </style>

    <script>
        var host = '<%- host %>';
        var port = <%- port %>;
    </script>
    <script src="/js/socket-io/socket.io-1.7.4.min.js"></script>
    <script src="/js/jquery/jquery.min.js"></script>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/controllers/system.js?v=<%- version %>"></script>
    <script src="/js/controllers/base-controller.js?v=<%- version %>"></script>
    <script src="/js/controllers/master-controller.js?v=<%- version %>"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed" ng-app="system">
<div class="wrapper">
    <div class="row" ng-controller="MasterController" ng-cloak>
        <div class="col-xs-12">
            <div class="box" style="border-radius: 0px; border-top: none;">
                <!-- /.box-header -->
                <div class="tableFixHead box-body" style="padding: 0px;">
                    <table id="tasks" class="table table-bordered table-striped">
                        <thead style="background-color: #000; color: #ffff;">
                        <tr>
                            <th># Task</th>
                            <th ng-repeat="username in getUsernames()">{{username}}</th>
                            <th>Summary</th>
                            <th>Final</th>
                        </tr>
                        </thead>
                        <tbody style="overflow-y: auto; max-height: 300px;">
                        <tr ng-repeat="task in getTasks()">
                            <td>Task {{$index + 1}}</td>
                            <td ng-repeat="username in getUsernames()">
                                <span class="label bg-green" ng-show="checkMinOffset(username, $parent.$index)">{{tasks[username][$parent.$index].value}}</span>
                                <span class="label bg-red" ng-show="checkMaxOffset(username, $parent.$index)">{{tasks[username][$parent.$index].value}}</span>

                                <span class="" ng-show="!checkMaxOffset(username, $parent.$index)&&!checkMinOffset(username, $parent.$index)">{{tasks[username][$parent.$index].value}}</span>
                               <!--  <span class="label bg-red" ng-if="checkMaxOffset($index, $parent.$index)">{{getOffset(tasks[username][$parent.$index].value , final[$parent.$index])}}</span>
                                <span ng-if="(!checkMaxOffset($index, $parent.$index)&&!checkMaxOffset($index, $parent.$index))">{{getOffset(tasks[username][$parent.$index].value , final[$parent.$index])}}</span> -->

                            </td>
                            <td>
                                <small class="label bg-green">avg {{getAvgEstimatedValue($index)}}</small>
                                <small class="label bg-yellow">low {{getMinEstimatedValue($index)}}</small>
                                <small class="label bg-red">high {{getMaxEstimatedValue($index)}}</small>
                            </td>
                            <td>
                                <input type="number" ng-model="final[$index]" style="width: 50px"
                                       ng-change="getTotalMistake()" ng-keyup="sendFinal()">
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Total</th>
                            <th ng-repeat="v in getTotalEstimatedValues() track by $index">{{v}}</th>
                            <th></th>
                            <th>{{ getTotalFinal() }}</th>
                        </tr>
                        <tr>
                            <th>Total mistake</th>
                            <th ng-repeat="v in getTotalMistake() track by $index">{{v}}</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.tableFixHead').on('scroll', function() {
      $('thead', this).css('transform', 'translateY('+ this.scrollTop +'px)');
    });
</script>
</body>
</html>
